{% extends 'layout.html' %}

{% block title %}
    <title>Filtrer les tableaux</title>
{% endblock %}

{% block body %}
<h3>Tableaux</h3>

<form class="m-1" method="post" action="/tableau/filtre">
    <fieldset>
        <legend>Filtrer les tableaux</legend>
        <div class="form-group">
            <label for="filter_word">Recherche textuelle :</label>
            <input class="form-control" type="text" name="filter_word" id="filter_word" placeholder="Recherche"
                value="{% if session['filter_word'] is defined %}{{ session['filter_word'] }}{% endif %}">
        </div>
        <br>
        {% if filter_items is defined %}
            <div class="form-group">
            <h4>Epoques :</h4>
            {% for filter_item in filter_items %}
                <input type="checkbox" name="filter_types" value="{{ filter_item.id_type_epoque }}"
                {% set id_item = filter_item.id_type_epoque | string %}
                {% if session['filter_types'] %}
                    {{ ' cheked ' if (id_item in session['filter_types']) else '' }}
                {% endif %}
            > {{ filter_item.libelle }}
            {% endfor %}
            </div>
        {% endif %}
        <br>
        <div class="form-group">
            <label for="filter_min">Prix assurance minimum :</label>
            <input class="form-control" ttype="number" step=".01" name="filter_min" id="filter_min" placeholder="Minimum"
                value="{% if session['filter_min'] is defined %}{{ session['filter_min'] }}{% endif %}">
        </div>
        <br>
        <div class="form-group">
            <label for="filter_max">Prix assurance maximum :</label>
            <input class="form-control" ttype="number" step=".01" name="filter_max" id="filter_max" placeholder="Maximum"
                value="{% if session['filter_max'] is defined %}{{ session['filter_max'] }}{% endif %}">
        </div>
        <br>
        <input type="submit" name="boutonvalider" id="validerFiltre" class="btn btn-primary">
        <br>
    </fieldset>
</form>
<br><br>

    {% if tableaux | length >= 1 %}
    <div class="container-fluid row center">
        {% for ligne in tableaux %}
           <div class="card m-2" style="width: 30rem;">
             {%  if ligne.photo is not none %}
             <img class="m-1" style="width:80%;height:80%"  src="{{ url_for('static', filename = 'images/' + ligne['photo']) }}"  alt="image  de {{ ligne.nom }}" >
             {% else %}
             <img class="m-1" style="width:80%;height:80%"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="no image" >
             {% endif %}
             <div class="card-body">
              <h5 class="card-title">{{ ligne.id }} : {{ ligne.nomTableau }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ ligne.peintre }}, {{ ligne.dateRealisation }}</h6>
               <p class="card-text">
                 {{ ligne.prixAssurance }} <br>
                 {{ ligne.localisationMusee }} <br>
                 {{ ligne.mouvement }}</p>
             </div>
<!--               {{ ligne.typeEpoque_id }}-->
          </div>
        {% endfor %}
    </div>
    {% else %}
            <div class="card">
                      pas de de tableau
            </div>
    {% endif %}
{% endblock %}