{% extends 'layout.html' %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid" style="justify-content: center; margin: 2%">
        <h1>Projet 17 - Rendu de l'interface web Flask et Pymysql</h1><hr>
    </div>
    <div class="container-fluid" style="justify-content: center; margin: 3%">
	<p>Ce site a été réalisé par Elena Bernard, étudiante en BUT Informatique à l'IUT de Belfort, dans le groupe S1C1.<br>
    Ceci est un rendu pour le projet flask, avec pour sujet le sujet 17, tableau et type-epoque<br><br>
    Vous pouvez cliquer sur chacun des liens ci-dessous pour accéder à chacune des tables ou utiliser la barre de navigation :</p><br><br>
    <a href="/tableau/show">Liste des tableaux</a><br>
    <a href="/type_epoque/show">Liste des types d'époques</a>
    </div>
{% endblock %}